
@import url("universal-styles.css");


/*CONFIRMATION PAGE styling*/
.confirmation-page{
    background-image: linear-gradient(rgb(255, 255, 255, 0.25), rgb(255, 255, 255, 0.75),#6F11A8);
}

.confirmation-text{
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
}

.confirmation-text__heading{
    width: 600px;
    text-align: center;
    align-self: center;
    color:#6F11A8;
}

.confirmation-text__order-num{
    color:#6F11A8;
    align-self: center;
    margin: 4rem 0 0.5rem 0;
}

.confirmation-text__order-text{
    color:#6F11A8;
    align-self: center;
    margin: 0 0 1rem 0;
}

.confirmation-text > .btn--primary{
    align-self: center;
    width: 185px;
    margin: 1rem 0 1rem 0;
}

/*mobile resolution styling*/
@media screen and (max-width: 390px){

    .confirmation-text{
        margin-bottom: 10rem;
    }

    .confirmation-text__heading{
        width: 100%;
    }

}