@import url("universal-styles.css");

/* Nav bar styling for home page*/
.nav-btn--home{
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.nav-logo-home{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

/*HOME PAGE styling*/
.banner{ 
    /*use this to style the container for the landing page items*/
    background-image: url("A3 images and stuff/home\ page\ banner\ image.jpg");
    background-size: cover;
    min-height: 90vh;
    overflow: hidden;
}

.slogan{
    height: 12.5rem;
}

.slogan-text{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.4);
}

.banner-buttons{
    height: 5rem;
}

.banner-buttons > :nth-last-child(1){
    margin-right: auto;
}

.banner-buttons > :nth-child(1){
    margin-left: auto;
}

.banner-stats{
    height: 17rem;
}

.individual-banner-stats{
    height: 16rem;
    flex-direction: column;
}

.banner-stats-images{
    margin-top: auto;
    margin-bottom: 0;
    max-width: 5rem;
}

.banner-stats-text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}

.banner-stats-text--highlight{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
    font-size: 42px;
    color: #9A15EC;
}

.banner-stats > :nth-child(1){
    margin-left: 20%;
}

.banner-stats > :nth-last-child(1){
    margin-right: 20%;
}

.btn--home-banner{
    background-color: #1D1D1D;
    color: #FFFFFF;
}

.btn--home-accent{
    outline-style: solid;
    outline-color: #FFFFFF;
    outline-width: 2px;
    backdrop-filter: blur(5px);
}

.auto-scrolling-bar{
    background-color: #1D1D1D;
    min-height: 9.5vh;
    margin-top: 2px;
    margin-bottom: 2px;
}

.auto-scrolling-text{
    color: #FFFFFF;
}

.westec-intro{
    min-height: 45rem;
}

.westec-about{
    flex-direction: column;
    min-height: 85rem;
    background-color: #E1E1E1;
}

.westec-about-text{
    flex-direction: column;
}

.westec-about-image{
    max-width: 40rem;
    max-height: 38rem;
    background-size: cover;
}

.best-selling{
    margin-top: 3rem;
    min-height: 12rem;
}

.reviews{
    margin-top: 3rem;
    min-height: 12rem;
}

.end-note{
    margin-top: 2rem;
    margin-bottom: 4rem;
    min-height: 14rem;
}