
@import url("universal-styles.css");

/*PRODUCT PAGE styling*/
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Image carousel*/
.item-container__carousel{
    max-width: 37.5rem;
    max-height: 37.5rem;
    position: relative;
}

.carousel-box{
    display: flex;
    width: 500px;
    height: 600px;
    position: relative;
}

.item-container__img{
    width: 500px;
    height: 500px;
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    transition: 0.6s ease;
}

.next{
    right: 0;
}

.prev{
    left: 0;
}

.ellipsis{
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
}

.dot{
    align-self: center;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #E1E1E1;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active-img, .dot:hover{
    background-color: #565656;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}


/*Item details*/
.item-container__details{ 
    display: flex;
    height: 225px;
    flex-direction: column;
    position: relative;
}

.item-details{
    line-height: 20px;
}

.item-details--name{
    font-family: "Inter";
    font-size: 23px;
    font-weight: bold;
}

.item-details--price{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    font-style: italic;
}

.item-container__btns{ /*need to make these stack on top of each other*/
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: flex-end;
}

.item-container__btns > .btn--accent-1{
    margin-top: 0.938rem;
}

/*Accordion*/
.item-container__description{
    display: flex;
    flex-direction: column;
}

.accordion{
    background-color: #565656;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    text-align: left;
    cursor: pointer;
    padding: 20px;
    width: 487px;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    transition: 0.4s;
}

.accordion--top{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.accordion--bottom{
    border-bottom: none;
}

.active-accordion, .accordion:hover{
    background-color: rgb(63, 63, 63);
}

.accordion-panel{
    padding: 10px 20px;
    background-color: #FFFFFF;
    display: none;
    overflow: hidden;
    border-left: 2px solid #565656;
    border-right: 2px solid #565656;
    max-height: 100px;
    /*transition: max-height 0.2s ease-out; */
}

.accordion-panel--bottom{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 2px solid #565656;
}

.panel-text{
    font-family: "Inter";
    line-height: 25px;
}

/*mobile resolution styling*/
@media screen and (max-width: 390px){

    .item-container__carousel{
        width: 100%;
    }

    .carousel-box{
        width: 390px;
        height: 350px;
        justify-content: center;
    }

    .item-container__img{
        width: 300px;
        height: 300px;
        align-self: center;
        justify-items: center;
    }

    .quantity-btn--product-detail{
        margin-top: 2.75rem;
    }

    .item-container__box{
        width: 100%;
        gap: 1rem;
    }

    .accordion{
        width: 350px;
        align-self: center;
    }

    .accordion-panel{
        width: 275px;
        padding: 10px 20px 10px 51px;
        justify-content: center;
        margin-left: 0.75rem;
    }


}