@import url("universal-styles.css");

.title{
    margin-top: 2rem;
    padding-left: 7rem;
}

.filter-bar{
    flex-direction: row;
    margin: 2rem 0 2rem 0;
}

.filter-bar-filter{
    padding-left: 7rem;
    padding-right: 2rem;
    flex-direction: row;
    margin: 0;
}

.filter-bar-filter > h3:hover{
    cursor: pointer;
}

.filter-bar-filter > img{
    max-height: 2rem;
    cursor: pointer;
}

.back-button-container{
    display: none;
    padding-left: 7rem;
}

.filter-bar-search > input{
    min-height: 2rem;
    min-width: 30rem;
    font-family: "Tilt Neon";
    font-size: larger;
}

.filter-bar-sort{
    flex-direction: row;
    padding-right: 7rem;
}

.sort-container{
    font-family: "Inter";
    font-size: 20px;
    min-height: 2rem;
    margin-bottom: auto;
}

.filters-container{
    display: none;
    flex-direction: column;
}

.filters-container > div > *{
    padding-left: 7rem;
}

.price-container{
    flex-direction: column;
    margin-right: auto;
}

.price-container > div > h3{
    margin: 0;
    padding: 0 0 0 1rem;
}

#price-min, #price-max{
    padding: 0;
}

.price-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 0;
}

.price-title > :nth-child(1){
    padding-left: 0.65rem;
}

.price-slider{
    width: 69rem;
    margin: 2rem 0 4rem 0;
}

.slider-body{
    height: 3px;
    background: #D1D1D1;
    position: relative;
}

.slider-body .slider-range{
    height: 7px;
    top: -2px;
    left: 0;
    right: 0;
    position: absolute;
    background: #6F11AB;
}

.slider-range-input{
    position: relative;
}

.slider-range-input input{
    position: absolute;
    top: -3px;
    height: 7px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.slider-range-input > :nth-child(1){
    left: -3px;
}

input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #9A15EC;
}

input[type="range"]::-moz-range-thumb{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #9A15EC;
}

.category-brand-container{
    flex-direction: row;
    margin: 0 0 auto 0;
}

.category-container{
    flex-direction: column;
    margin-bottom: 8rem;
}

.category-container > h3{
    margin: 0 0 1rem;
}

.checkbox-container{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: 2rem;
    padding-left: 2rem;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 350;

    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border: solid 1px black;
    position: absolute;
    top: -0.15rem;
    left: -0.3rem;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    height: 25px;
    width: 25px;
    background-color: black;
    position: absolute;
    top: -0.15rem;
    left: -0.3rem;
}

.brand-container{
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 8rem;
}

.brand-container > h3{
    margin: 0 0 1rem;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: space-between;
    margin: 0 7rem 4rem 7rem;
    gap: 1rem;
}

.item{
    flex-direction: column;
}

.item > a > img{
    aspect-ratio: 1/1;
    max-width: 15rem;

    transition: ease-in-out 0.25s;
}

.item > a > img:hover{
    box-shadow: 0px 4px 15px 1px rgba(154, 21, 236, 0.25);
    cursor: pointer;
}

.item-title{
    font-size: 1.5rem;
}

.no-results-container{
    min-height: 70vh;
    display: none;
}

.no-results-text{
    margin: auto auto 35% auto;
    font-size: large;
}