
@import url("universal-styles.css");

.item-details--name{
    font-family: "Inter";
    font-size: 23px;
    font-weight: bold;
}

.item-details--price{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    font-style: italic;
}

/*PRODUCT PAGE styling*/
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-container__img{
    max-width: 500px;
    max-height: 500px;
}

.item-container__details{ /*might need to do a grid so the different sections can overlap slightly*/
    display: flex;
    height: 200px;
    flex-direction: column;
}

.item-details{
    line-height: 20px;
}

.item-container__btns{ /*need to make these stack on top of each other*/
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: flex-end;
}

.item-container__btns > .btn--accent-1{
    margin: 0.938rem 0 0.938rem 0;
    
}