/* This is the CSS file for the products page of the Westec website! */
@import url("universal-styles.css");

.title{
    margin-top: 2rem;
    padding-left: 7rem;
}

/* styling for the filter */
.filter-bar{
    flex-direction: row;
    margin: 2rem 0 2rem 0;
}

.filter-bar-filter{
    padding-left: 7rem;
    padding-right: 2rem;
    flex-direction: row;
    margin: 0;
}

.filter-bar-filter > h3:hover{
    cursor: pointer;
}

.filter-bar-filter > img{
    max-height: 2rem;
    cursor: pointer;
}

.back-button-container{
    display: none;
    padding-left: 7rem;
}

/* styling for the search bar */
.filter-bar-search--desktop > input{
    min-height: 2rem;
    min-width: 30rem;
    font-family: "Inter";
    font-size: larger;
}

.filter-bar-search--iphone{
    display: none;
}

/* styling for the sort bar */
.filter-bar-sort{
    flex-direction: row;
    padding-right: 7rem;
}

.sort-container{
    font-family: "Inter";
    font-size: 20px;
    min-height: 2rem;
    margin-bottom: auto;
}

/* styling for the filter container */
.filters-container{
    display: none;
    flex-direction: column;
}

.filters-container > div > *{
    padding-left: 7rem;
}

/* styling for the price slider text and container */
.price-container{
    flex-direction: column;
    margin-right: auto;
}

.price-container > div > h3{
    margin: 0;
    padding: 0 0 0 1rem;
}

#price-min, #price-max{
    padding: 0;
}

.price-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 0;
}

.price-title > :nth-child(1){
    padding-left: 0.65rem;
}

/* styling for price slider
    code adapted from: https://www.youtube.com/watch?v=FShnKqPXknI
*/
.price-slider{
    width: 69rem;
    margin: 2rem 0 4rem 0;
}

.slider-body{
    height: 3px;
    background: #D1D1D1;
    position: relative;
}

.slider-body .slider-range{
    height: 7px;
    top: -2px;
    left: 0;
    right: 0;
    position: absolute;
    background: #6F11AB;
}

.slider-range-input{
    position: relative;
}

.slider-range-input input{
    position: absolute;
    top: -3px;
    height: 7px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.slider-range-input > :nth-child(1){
    left: -3px;
}

/* chrome and internet explorer styling for the slider dot
    code adapted from: https://www.youtube.com/watch?v=FShnKqPXknI
*/
input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #9A15EC;
}

/* firefox styling for the slider dot
    code adapted from: https://www.youtube.com/watch?v=FShnKqPXknI
*/
input[type="range"]::-moz-range-thumb{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #9A15EC;
}

/* styling for the category checkbox container */
.category-brand-container{
    flex-direction: row;
    margin: 0 0 auto 0;
}

.category-container{
    flex-direction: column;
    margin-bottom: 8rem;
}

.category-container > h3{
    margin: 0 0 1rem;
}

/* styling for the checkboxes and text positions */
.checkbox-container{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: 2rem;
    padding-left: 2rem;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 350;

    cursor: pointer;
}

/* styling for checkboxes when unchecked */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border: solid 1px black;
    position: absolute;
    top: -0.15rem;
    left: -0.3rem;
    cursor: pointer;
}

/* styling for checkboxes when they are checked */
input[type="checkbox"]:checked {
    height: 25px;
    width: 25px;
    background-color: black;
    position: absolute;
    top: -0.15rem;
    left: -0.3rem;
}

/* styling for the brand checkbox container */
.brand-container{
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 8rem;
}

.brand-container > h3{
    margin: 0 0 1rem;
}

/* styling for all the item containers and the insides */
.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: space-between;
    margin: 0 7rem 4rem 7rem;
    gap: 1rem;
}

.item{
    flex-direction: column;
}

.item > a > img{
    aspect-ratio: 1/1;
    max-width: 15rem;

    transition: ease-in-out 0.25s;
}

.item > a > img:hover{
    box-shadow: 0px 4px 15px 1px rgba(154, 21, 236, 0.25);
    cursor: pointer;
}

.item-title{
    font-size: 1.5rem;
}

/* css styling for no results div */
.no-results-container{
    min-height: 70vh;
    display: none;
}


.no-results-text{
    margin: auto auto 35% auto;
    font-size: large;
    text-align: center;
}

/* styling for footer to allow some space */
footer{
    margin-top: 5rem;
}

/* media screening for if the user is on a phone resolution */
@media screen and (max-width: 400px) {

    body{
        gap: 0;
    }

    .title{
        margin: 1rem 0 0 2rem;
        padding: 0;
    }
    
    .filter-bar-search--desktop > input{
        display: none;
    }
    
    .filter-bar-search--iphone{
        display: flex;
        
        margin: 1rem auto 1rem auto;
    }

    .filter-bar-search--iphone > input{
        min-width: 20.5rem;
        
        font-family: "Inter";
        font-size: larger;
    }

    .filter-bar-filter{
        padding-left: 0;
        padding-right: 0;
        margin-left: 2rem;
    }

    .filter-bar-filter > h3{
        font-size: large;
        margin-right: 0;
        margin-left: 0;
    }

    .filter-bar-filter > img{
        max-width: 1rem;
    }

    .filter-bar-sort{
        padding-right: 0;
        margin-right: 0;
    }

    .filter-bar-sort > h3{
        font-size: large;
    }

    .sort-container{
        font-size: small;
        max-width: 6rem;
        min-height: 1.5rem;
        max-height: 1.5rem;
        margin: 0 2rem 0 0;
    }

    .item > a > img{
        max-width: 8rem;
    }

    .items-container{
        grid-template-columns: repeat(auto-fill, 180px);
        margin: 0;
    }

    .item-title{
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }

    .item > :nth-last-child(1){
        margin-top: 0.2rem;
    }

    .price-slider{
        width: 20rem;
    }

    .back-button-container{
        padding-left: 0;
        margin-left: 2rem;
    }

    .filters-container > div > *{
        padding-left: 0;
        margin-left: 2rem;
    }

    .no-results-container{
        min-height: 50vh;
    }

    .no-results-text{
        margin: auto;
    }

}