/* This is the CSS file for the universal components of the Westec website! */

/*import url for Inter and Tilt Neon typeface*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tilt+Neon&display=swap'); 

/*Overall styling for the page*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 57rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

.cluster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > *{
    margin: 0.5rem; /*this adds a bit of space around elements*/
}

/*TEXT, typeface, fonts, size and styles*/
h1{
    font-family: "Tilt Neon";
    font-size: 47.8px;
    font-weight: 100;
}

h2{
    font-family: "Inter";
    font-size: 39.8px;
    font-weight: 350;
    margin: 0;
}

.h2--dark-purple{
    color: #6F11A8;
}

h3{
    font-family: "Inter";
    font-size: 33.2px;
    font-weight: 350;
    margin: 0;
}

.h3--dark-purple{
    color: #6F11A8;
}

p{  /*this one is for normal text*/
    font-family: "Inter";
    font-size: 16px;
    font-weight: 350;
}

.p-italics{  /*this one is for italicised text*/
    font-family: "Inter";
    font-size: 16px;
    font-style: italic;
}

.small-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 13.3px;
}

.tiny-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 11.1px;
}


/*BUTTON styling*/
.btn{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    width: 138px;
    height: 25px;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 1.25rem 0.8rem 1.25rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn--primary{
    background-color: #9A15EC;
    color: white;
}

.btn--accent-1{
    background-color: white;
    color: #1D1D1D;
    outline-style: solid;
    outline-color: #1D1D1D;
    outline-width: 2px;
}

.btn--accent-2{
    background-color: transparent;
    color: white;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
}

/*this is the product-details page quantity button*/
.quantity-btn--product-detail{
    color:#FFFFFF;
    font-size: 16px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 10.625rem;
    border-radius: 0.5rem;
    margin-top: 4rem;

    .qty-count, .product-qty{
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;
    }

    :focus{
        outline: none;
    }

    .qty-count {
        background:#9A15EC;
        width: 2.813rem;
        height: 2.625rem;
        padding: 0;
    }

    .qty-count--minus{
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .qty-count--add{
        width: 2.875rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .product-qty {
		color:#9A15EC;
        width: 5rem;
		min-width: 0;
		display: inline-block;
		text-align: center;
        appearance: textfield;
    }

    ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        display: none;
    }
}

/*this is the shopping cart quantity button*/
.quantity-btn--cart{
    color:#FFFFFF;
    font-size: 16px;
    background: #E1E1E1;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 10.625rem;
    border-radius: 0.5rem;

    .qty-count, .product-qty{
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;
    }

    :focus{
        outline: none;
    }

    .qty-count {
        background: #565656;
        width: 2.813rem;
        height: 2.625rem;
        padding: 0;
    }

    .qty-count--minus{
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .qty-count--add{
        width: 2.875rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .product-qty {
		color:#565656;
        width: 5rem;
		min-width: 0;
		display: inline-block;
		text-align: center;
        align-content: center;
		appearance: textfield;
        margin: 0;
    }

    ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        display: none;
    }
}


/*NAV styling*/
.nav-bar{
    margin: 0.5rem;
    align-items: flex-start;
    width: 100%;
}


.nav-buttons{
    height: 50px;
    align-items: flex-start;
    margin-left: auto;
}

.nav-buttons > :nth-last-child(1){
    padding-right: 1rem;
}

.nav-buttons > a{
    display: block;
}

.nav-btn{
    padding-top: 0.5rem;
    font-family: "Inter";
    color:#6F11A8;
    text-decoration: none;
    align-self: flex-start;
    margin: 0 1rem;
} 

.mobile-nav{
    display: none;
}

.side-nav{
    display: none;
}


/*FOOTER styling*/
footer{
    display: flex;
    flex-direction: row;
    height: 12.5rem;
    min-width: 100%;
    max-width: 100%;
    background-color: #1D1D1D;
    color:#FFFFFF;
    margin: 0;
    align-self: baseline;
}

.footer__items{
    width: 1368px;
    justify-content: space-evenly;
    margin: 0.5rem 0 0.5rem 0;
}

.footer__item-2{
    text-decoration: none;
    font-family: "Inter";
    line-height: 10px;
    
}

.footer__item-3{
   line-height: 20px;
   height: 135px;
}

.address{
    text-wrap: balance;
}

/*Page heading styling (used in Cart, Checkout and Confirmation pages)*/

.page-heading{
    display: flex;
    flex-direction: column;
    height: 100px;
}

.center-heading{
    align-self: center;
}

.page-indicator{
    max-width: 250px;
    align-self: center;
    margin: 1rem;
}

/*Basic page style changes for mobile resolution*/
@media screen and (max-width: 390px) {
    /*page set up*/
    body{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 390px;
        
    }

    /*side nav overlay styling*/
    .nav-buttons{
       display: none; 
    }

    .nav-bar{
        position: relative;
        width: 380px;
    }

    .mobile-nav{
        display: flex;
        width: 31px;
        height: 32px;
        margin: 1rem 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0.25rem;
    }

    .side-nav{
        display: flex;
        height: 844px;
        width: 0;
        z-index: 1;
        background-color: #FFFFFF;
        overflow-x: hidden;
        transition: 0.5s;
        position: absolute;
        margin: 0;
    }

    .side-nav-btns{
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 100%;
    }

    #westecLogo{
        margin: 1rem;
        width: 100px;
    }

    .side-nav__btn{
        text-decoration: none;
        color: #1D1D1D;
        text-align: right;
        justify-self: flex-end;
        line-height: 50px;
        margin-right: 2rem;
        
        right: 0;
    }
    
    #sideNavClose{
        display: none;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .side-nav__btn, #sideNavClose:hover{
        color: #6F11A8;
    }

    /*footer styling*/
    footer{
        width: 100%;
        height: 25rem;
        flex-wrap: wrap;
        position: relative;
    }
    
    .footer__items{
        justify-content: space-between;
        margin: 0.5rem;
    }

    .footer__item-2, .footer__item-3{
        display: none;
    }

    .footer__socials{
        align-self: flex-end;
    }
    

}