/* This is the CSS file for the universal components of the Westec website! */

/*import url for Inter and Tilt Neon typeface*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tilt+Neon&display=swap'); 

/*Overall styling for the page*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 57rem;
}

.cluster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > *{
    margin: 0.5rem; /*this adds a bit of space around elements*/
}

/*TEXT, typeface, fonts, size and styles*/
h1{
    font-family: "Tilt Neon";
    font-size: 47.8px;
}

h2{
    font-family: "Inter";
    font-size: 39.8px;
    font-weight: 300;
    margin: 0;
}

h3{
    font-family: "Inter";
    font-size: 33.2px;
    font-weight: 300;
    margin: 0;
}

p{  /*this one is for normal text*/
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
}

.p-italics{  /*this one is for italicised text*/
    font-family: "Inter";
    font-size: 16px;
    font-style: italic;
}

.small-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 13.3px;
}

.tiny-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 11.1px;
}

/*BUTTON styling*/
.btn{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    width: 138px;
    height: 25px;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 1.25rem 0.8rem 1.25rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.btn--primary{
    background-color: #9A15EC;
    color: white;
}

.btn--accent-1{
    background-color: white;
    color: #1D1D1D;
    outline-style: solid;
    outline-color: #1D1D1D;
    outline-width: 2px;
}

.btn--accent-2{
    background-color: transparent;
    color: white;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
}


/*Style changes for mobile - will fix and add more after watching some lectures*/
@media screen and (max-width: 390px) {
    body{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 600px;
    }
}


/*NAV styling*/
.nav-bar{
    margin: 0.5rem;
    align-items: flex-start;
    width: 100%;
}


.nav-buttons{
    height: 50px;
    align-items: flex-start;
    margin-left: auto;
}

.nav-buttons > :nth-last-child(1){
    padding-right: 1rem;
}

.nav-buttons > a{
    display: block;
}

.nav-btn{
    padding-top: 0.5rem;
    font-family: "Inter";
    color:#6F11A8;
    text-decoration: none;
    align-self: flex-start;
    margin: 0 1rem;
} 

/*FOOTER styling*/
footer{
    display: flex;
    flex-direction: row;
    height: 12.5rem;
    min-width: 100%;
    max-width: 100%;
    background-color: #1D1D1D;
    color:#FFFFFF;
    margin: 0;
    align-self: baseline;
}

.footer__items{
    width: 1368px;
    justify-content: space-evenly;
    margin: 0.5rem 0 0.5rem 0;
}

.footer__item-2{
    text-decoration: none;
    font-family: "Inter";
    line-height: 10px;
    
}

.footer__item-3{
   line-height: 20px;
   height: 135px;
}

.address{
    text-wrap: balance;
}
