/* This is the CSS file for the entire Westec website! */

/*import url for Inter and Tilt Neon typeface*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tilt+Neon&display=swap'); 

.cluster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > *{
    margin: 0.5rem; /*this adds a bit of space around elements*/
}

/*TEXT, typeface, fonts, size and styles*/
h1{
    font-family: "Tilt Neon";
    font-size: 47.8px;
}

h2{
    font-family: "Inter";
    font-size: 39.8px;
    font-weight: 300;
    margin: 0;
}

h3{
    font-family: "Inter";
    font-size: 33.2px;
    font-weight: 300;
    margin: 0;
}

.product-details--name{
    font-family: "Inter";
    font-size: 23px;
    font-weight: bold;
}

.product-details--price{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    font-style: italic;
}

p{  /*this one is for normal text*/
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
}

.p-italics{  /*this one is for italicised text*/
    font-family: "Inter";
    font-size: 16px;
    font-style: italic;
}

.small-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 13.3px;
}

.tiny-text{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Inter";
    font-size: 11.1px;
}

/*BUTTON styling*/
.btn{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    width: 138px;
    height: 25px;
    color: white;
    border-radius: 0.7rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.btn--primary{
    background-color: #9A15EC;
    color: white;
}

.btn--accent-1{
    background-color: white;
    color: #1D1D1D;
    outline-style: solid;
    outline-color: #1D1D1D;
    outline-width: 2px;
}

.btn--accent-2{
    background-color: transparent;
    color: white;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
}

/*Overall styling for the page*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
    height: 57rem;
}


/*Style changes for mobile - will fix and add more after watching some lectures*/
@media screen and (max-width: 390px) {
    body{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 600px;
    }
}


/*NAV styling*/
.nav-bar{
    height: 50px;
    margin: 0.5rem;
    align-items: flex-start;
    width: 100%;
}

.nav-bar--home{
    top: 0;
    background-color: aquamarine;
}

.nav-buttons{
    height: 50px;
    align-items: flex-start;
    margin-left: auto;
}

.nav-buttons > :nth-last-child(1){
    padding-right: 1rem;
}

.nav-buttons > a{
    display: block;
}

.nav-btn{
    background-color: tomato;
    padding-top: 0.5rem;
    font-family: "Inter";
    color:#6F11A8;
    text-decoration: none;
    align-self: flex-start;
    margin: 0 1rem;
} 

.nav-btn--home{
    color: #FFFFFF;
}

/*FOOTER styling*/
footer{
    display: flex;
    flex-direction: row;
    height: 12.5rem;
    min-width: 100%;
    max-width: 100%;
    background-color: #1D1D1D;
    color:#FFFFFF;
    margin: 0;
    align-self: baseline;
}

.footer__items{
    width: 1368px;
    justify-content: space-evenly;
    margin: 0.5rem 0 0.5rem 0;
}

.footer__item-2{
    text-decoration: none;
    font-family: "Inter";
    line-height: 10px;
    
}

.footer__item-3{
   line-height: 20px;
   height: 135px;
}

.address{
    text-wrap: balance;
}


/*HOME PAGE styling*/
.landing-page{ 
    /*use this to style the container for the landing page items*/
    background-image: url("A3 images and stuff/home\ page\ banner\ image.jpg");
    background-size: cover;
    min-height: 90vh;
    overflow: hidden;
}

.slogan{
    height: 12.5rem;
    background-color: burlywood;
}

.slogan-text{
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
}

.banner-buttons > :nth-last-child(1){
    margin-right: auto;
}

.banner-buttons > :nth-child(1){
    margin-left: auto;
}

.banner-buttons{
    height: 10rem;
    background-color: darkcyan;
}

.banner-stats{
    display: grid;
    height: 17rem;
    background-color: darkkhaki;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "statistic-1 statistic-2 statistic-3";
}

.statistic-1{
    margin-top: 35%;
    margin-left: 70%;
    grid-area: statistic-1;
}

.statistic-2{
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;
    grid-area: statistic-2;
}

.statistic-3{
    margin-top: 35%;
    margin-right: 70%;
    grid-area: statistic-3;
}

.btn--home{
    background-color: #1D1D1D;
    color: #FFFFFF;
}

.btn--home-accent{
    outline-style: solid;
    outline-color: #FFFFFF;
}


/*PRODUCT PAGE styling*/
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-container__img{
    max-width: 500px;
    max-height: 500px;
}

.product-container__details{ /*might need to do a grid so the different sections can overlap slightly*/
    display: flex;
    height: 200px;
    flex-direction: column;
}

.product-details{
    line-height: 20px;
}

.product-container__btns{ /*need to make these stack on top of each other*/
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: flex-end;
}

.product-container__btns > .btn--accent-1{
    margin: 0.938rem 0 0.938rem 0;
    
}


/*SHOPPING CART styling*/
.page-heading{
    display: flex;
    flex-direction: column;
    height: 100px;
}

.center-heading{
    align-self: center;
}

.page-indicator{
    max-width: 250px;
    align-self: center;
    margin: 1rem;
}

.cart__items{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: flex-start;
}

.cart-item--img{
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 1rem;
}

.box{ /*this is for the delete items button in the cart, will fix up later*/
    width: 12.5rem;
    height: 12.5rem;
}

.cart-item--1{
    margin: 0 1rem 1.5rem 1rem;
    background-color: aquamarine; /*this is just for layout purposes, remove when done*/
    display: flex;
    width: 26.875rem;
    height: 12.5rem;
}

.cart-item--1 > .product-details{
    align-self: self-start;
    padding: 0.5rem;
}

.cart-item--2{
    margin: 0 1rem 1.5rem 1rem;
    background-color: pink; /*this is just for layout purposes, remove when done*/
    display: flex;
    width: 26.875rem;
    height: 12.5rem;
}

.cart-item--2 > .product-details{
    align-self: self-start;
    padding: 0.5rem;
}

.cart-item--3{
    margin: 0 1rem 1.5rem 1rem;
    background-color: lightblue; /*this is just for layout purposes, remove when done*/
    display: flex;
    width: 26.875rem;
    height: 12.5rem;
}

.cart-item--3 > .product-details{
    align-self: self-start;
    padding: 0.5rem;

}

.cart__cart-summary{
    width: 28.125rem;
    height: 42.5rem;
    background-color: #1D1D1D;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin: 0;
    /* position: fixed; */
}

.cart-summary__text{
    color:#FFFFFF;
    margin: 4rem;
}

.cart-summary__btns{
    display: flex;
    flex-direction: column;
    height: 150px;
    margin: 4rem;
}

.cart-summary__btns > .btn--primary{
    margin: 1rem 0 1rem 0;
}


/*CONFIRMATION PAGE styling*/
.confirmation-page{
    background-image: linear-gradient(rgb(255, 255, 255, 0.25), rgb(255, 255, 255, 0.75),#6F11A8);
}

.confirmation-text{
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
}

.confirmation-text__heading{
    width: 600px;
    text-align: center;
    align-self: center;
    color:#6F11A8;
}

.confirmation-text__order-num{
    color:#6F11A8;
    align-self: center;
    margin: 4rem 0 0.5rem 0;
}

.confirmation-text__order-text{
    color:#6F11A8;
    align-self: center;
    margin: 0 0 1rem 0;
}

.confirmation-text > .btn--primary{
    align-self: center;
    width: 185px;
    margin: 1rem 0 1rem 0;
}