/* This is the CSS file for the entire Westec website */

/*import url for Inter adn Tilt Neon typeface*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tilt+Neon&display=swap'); 

.cluster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}

.cluster > *{
    margin: 0.5rem; /*this adds a bit of space around elements*/
}

/*typeface, fonts, size and styles*/
h1{
    font-family: "Tilt Neon";
    font-size: 47.8px;
}

h2{
    font-family: "Inter";
    font-size: 39.8px;
    font-weight: 300;
}

h3{
    font-family: "Inter";
    font-size: 33.2px;
    font-weight: 300;
}

.product-name{
    font-family: "Inter";
    font-size: 23px;
    font-weight:bold;
}

.product-price{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    font-style: italic;
}

p{  /*this one is for normal text*/
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
}

.p-italics{  /*this one is for italicised text*/
    font-family: "Inter";
    font-size: 16px;
    font-style: italic;
}

/*button styling*/
.btn{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    /*width: 138px;
    height: 40px; not sure if this works rn*/
    color: white;
    border-radius: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-primary{
    background-color: #9A15EC;
    color: white;
}

.btn-accent{
    background-color: white;
    color: #1D1D1D;
    outline-style: solid;
    outline-color: #1D1D1D;
    outline-width: 2px;
    padding: 10px 50px 10px 50px;
}

/*nav styling*/
.nav-btn{
    font-family: "Inter";
    text-decoration: none;
}

/*home page styling*/
.landing-page{
    /*use this to style the container for the landing page items*/
}

.bg-image{
    opacity: 0.5; /*sets opacity of any bg images at 50%*/
}

.home-btn{
    background-color: #1D1D1D;
    color: #FFFFFF;
}

.home-btn-accent{
    outline-style: solid;
    outline-color: #FFFFFF;
}


/*product page styling*/
.product-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-img{
    max-width: 600px;
}

.product-details{ /*might need to do a grid so the different sections can overlap slightly*/
    display: flex;
    height: 200px;
    flex-direction: column;
}

.product-name-price{
    line-height: 10px;
}

.product-btns{ /*need to make these stack on top of each other*/
    display: flex;
    height: 100px;
    flex-direction: column;
    align-content: space-between;
}