/* This is the CSS file for the entire Westec website */

/*import url for Inter adn Tilt Neon typeface*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tilt+Neon&display=swap'); 

.cluster{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}

.cluster > *{
    margin: 0.5rem; /*this adds a bit of space around elements*/
}

/*typeface, fonts, size and styles*/
h1{
    font-family: "Tilt Neon";
    font-size: 47.8px;
}

h2{
    font-family: "Inter";
    font-size: 39.8px;
    font-weight: 300;
}

h3{
    font-family: "Inter";
    font-size: 33.2px;
    font-weight: 300;
}

.product-name{
    font-family: "Inter";
    font-size: 23px;
    font-weight:bold;
}

.product-price{
    font-family: "Inter";
    font-size: 19.2px;
    font-weight: 300;
    font-style: italic;
}

p{  /*this one is for normal text*/
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
}

.p-italics{  /*this one is for italicised text*/
    font-family: "Inter";
    font-size: 16px;
    font-style: italic;
}

/*button styling*/

/*nav styling*/
.nav-btn{
    font-family: "Inter";
    text-transform: capitalize; /*not sure why this isn't working ;-; maybe this google font import doesn't support capitalisation*/
    text-decoration: none;
}

/*home page styling*/
.bg-image{
    opacity: 0.5; /*sets opacity of any bg images at 50%*/
}

.home-btn{
    background-color: #1D1D1D;
    color: #FFFFFF;
}
